@charset="utf-8";

body{

	margin:0;
	padding:0;
}

/*start header cording*/

.banner{

		background-image: url("../img/banner/bradcam3.png");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
	}

	.banner h2{

		font-size: 30px;
		text-align: center;
		color: white;
		padding-top: 240px;
	}

@media(max-width: 768px){

	.banner h2{

		font-size: 30px;
		text-align: center;
		padding-top: 120px;
	}

}
	.banner h3{

		font-size: 80px;
		text-align: center;
		color:white;
		font-family: cursive;
		padding-top: 20px;
	}

	@media(max-width: 768px){

		.banner h2{

		font-size: 20px;
		text-align: center;
		color: white;
	}

	.banner h3{

		font-size: 30px;
		text-align: center;
		color: orange;
	}

	}

	.filter{

		width: 100%;
		height: 100vh;
		background-color:rgba(0,0,66,0.7);

	}


	.home{

		color: white;
	}

	.home:hover{

		color: red;
	}
	@media(max-width: 768px){

		.home{

		color:black;
	}

	}
	
	.nav-menu{

		margin-left: 300px;
	}


@media(max-width: 768px){

	.nav-menu{

		margin-left:0px;
		background-color:white;
	}

}

#butt{

	width: 120px;
	height: 45px;
}
	@media(max-width: 768px){

		#butt{

			display: none;
		}
	}

.icon-box{

	width: 130px;
	height: 130px;
	background-color:#FF5748;
	margin: 200px auto;
	border-radius: 50%;

}

.icon-box i{

	padding: 35px 0px 0px 40px;
	font-size: 60px;
	color: white;
}
	
.food{

	width: 100%;
	height: 130px;
	margin:-180px auto;
}

.food h4{

	text-align: center;
	font-size: 70px;
	color: white;
	font-family: cursive;
}

.food p{

	text-align: center;
	font-size: 16px;
	color: white;
	font-family: sans-serif;
	margin-top: 20px;
}

/*start header cording */

/*srart section corrding*/


.description{

	width: 70%;
	height: auto;
	margin:0px auto;
}

.description h3{

		font-family: sans-serif;
}

.description p{

	font-family: sans-serif;
	margin-top: 20px;
	color:#4D4D4D;
	line-height: 30px;
}

.contact{

	width: 70%;
	height: auto;
	margin:0px auto;
}

.cont-input{

	width: 100%;
	height: 50px;
	border-radius: 5px;
	border:1px solid #ccc;
	padding-left: 10px;
}
@media(max-width: 768px){

	.contact{

	width:100%;
	height: auto;
	margin:0px auto;
}

}

.cont-area{

	width: 100%;
	height: 150px;
	border-radius: 5px;
	border:1px solid #ccc;
}

.cont-submit{

	width: 100%;
	height: 50px;
	background-color:#F91842; 
	color: white;
	border-radius: 5px;
	border:none;
}


.singal-explore{

	width: 100%;
	height: 420px;
	border-radius: 10px;
}

.thumb{

	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}

.thumb img{

	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}


.below-explore{

	width: 100%;
	height: 170px;
	border-radius: 0px 0px 10px 10px;
	border:1px solid #ccc;
}

.icons{

	width:15%;
	height: 50px;
	background-color:#00D363;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icons i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}

.explore-info{

	width:80%;
	height: 190px;
	margin-top: 20px; 
}

.explore-info h3 a{

	font-size: 25px;
	font-family: calibri;
	padding-top: 5px;
	padding-left: 10px;
	color: black;
	text-decoration: none;
}

.explore-info:hover h3 a{

	color:red;
}

.explore-info p{

	font-size: 15px;
	color: gray;
}


.icons1{

	width:15%;
	height: 50px;
	background-color:#FF5748;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icons1 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}


.icons2{

	width:15%;
	height: 50px;
	background-color:#D465EF;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icons2 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}

/*close section cording*/


/*start footer cording*/

#i-icon{

	color:white;
	background-color:#667fff;
	padding: 15px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#i-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#c-icon{

	color:white;
	background-color:#ff5748;
	padding: 13px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#c-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#o-icon{

	color:white;
	background-color:#37ebed;
	padding: 14px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#o-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#n-icon{

	color:white;
	background-color:#c40079;
	padding: 13px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#n-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


.service{

	margin-top: 150px;
}


@media(max-width: 768px){

	.service{

	margin-top: 50px;
}

}

.service p{

	color:gray;
}

.service p:hover{

	color:white;
}


.service1{

	margin-top: 150px;
}

@media(max-width: 768px){

	.service1{

	margin-top: 50px;
}

}
.service1 p{

	color:gray;
}

.service1 p:hover{

	color:white;
}

.mail{

	width: 100%;
	height: 55px;
	border:1px solid gray;
	margin-top: 48px;
	border-radius: 8px;
}



.mail input{

	background-color: transparent;
	border:none;
	outline: none;
	padding-top:2px;
	padding-left: 10px;
}

.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:60px;
	margin-top: 6px;	
}

@media(max-width: 768px){

	.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:130px;
	margin-top: 6px;	
}
}

@media(max-width: 375px){

	.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:5px;
	margin-top: 6px;	
}
}

/*close footer cording*/