@charset="utf-8";

body{

	margin:0;
	padding:0;
}

/*start header cording*/

.banner{

		background-image: url("../img/banner/banner.png");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
	}

	.banner h2{

		font-size: 30px;
		text-align: center;
		color: white;
		padding-top: 240px;
	}

@media(max-width: 768px){

	.banner h2{

		font-size: 30px;
		text-align: center;
		padding-top: 120px;
	}

}
	.banner h3{

		font-size: 80px;
		text-align: center;
		color:white;
		font-family: cursive;
		padding-top: 20px;
	}

	@media(max-width: 768px){

		.banner h2{

		font-size: 20px;
		text-align: center;
		color: white;
	}

	.banner h3{

		font-size: 30px;
		text-align: center;
		color: orange;
	}

	}

	.filter{

		width: 100%;
		height: 100vh;
		background-color:rgba(0,0,66,0.7);

	}


	.home{

		color: white;
	}

	.home:hover{

		color: red;
	}
	@media(max-width: 768px){

		.home{

		color:black;
	}

	}
	
	.nav-menu{

		margin-left: 300px;
	}


@media(max-width: 768px){

	.nav-menu{

		margin-left:0px;
		background-color:white;
	}

}

#butt{

	width: 120px;
	height: 45px;
}
	@media(max-width: 768px){

		#butt{

			display: none;
		}
	}



	.find{

		color: white;
		text-align: center;
		font-family: cursive;
		font-size: 70px;
	}

	@media(max-width: 768px){

		.find{

		color: white;
		text-align: center;
		font-family: cursive;
		font-size: 40px;
	}

	}
	.search{

		width: 70%;
		height: 70px;
		background-color: white;
		margin-left: 190px;
		margin-top: 50px;
		border-radius: 10px;
	}

	#input1{

		width: 100%;
		margin-top: 20px;
		margin-left:5px;
		border: transparent;
		outline: none;
		padding-left: 20px;
		font-size: 20px;
	}


	#input2{

		margin-top: 20px;
		margin-left:5px;
		width: 50%;
		border:transparent;
		outline: none;
		font-size: 20px;
	}


@media(max-width: 768px){

	#input1{

		width: 50%;
		margin-top: 20px;
		margin-left:5px;
		border: transparent;
		outline: none;
		padding-left: 20px;
		font-size: 20px;
	}


	#input2{

		margin-top: 20px;
		margin-left:5px;
		width: 80%;
		border:transparent;
		outline: none;
		font-size: 20px;
		padding-left: 20px;
	}

}
@media(max-width: 768px){

	.search{

		width: 100%;
		height: 150px;
		background-color: white;
		margin-left:0px;
		margin-top: 0px;
		border-radius: 10px;
		margin-top: 30px;
	}
}

@media(max-width: 667px){

	.search{

		width: 100%;
		height: 120px;
		background-color: white;
		margin-left:0px;
		margin-top: 0px;
		border-radius: 10px;
		margin-top: 30px;
	}
}


.sea{

	width: 120px;
	height: 50px;
	margin-top: 10px;
	margin-left: 90px;
}

@media(max-width: 768px){

	.sea{

	width: 120px;
	height: 50px;
	margin-right: 10px;
}

}

.quality{

	width: 50%;
	height: 50px;
	margin-top: 50px;
	margin-left: 320px;
}


@media(max-width: 768px){

	.quality{

	width: 100%;
	height: 100px;
	margin-top: 50px;
	margin-left: 0px;
}

}




.quality li{

	list-style: none;
	display: inline-flex;
	padding-left: 10px;
}

#quaty:hover{

	background-color: red;
}
/*start header cording */


#box{

	width: 100px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 0px;
	position: fixed;
}

/*start section cording*/

@media(max-width: 768px){

	.dis{

		margin-top: -80px;
		font-size: 20px;
	}
}

.most{

	font-family: cursive; 
	font-size: 45px;
}

@media(max-width: 768px){

	.most{

		font-size: 30px;
	}
}

@media(max-width: 375px){

	.most{

		font-size: 25px;
	}
}

.categories{

	width: 255px;
	height: 192px;
	background-color:rgba(2,18,42,0.5);
	position: absolute;
	top: 16px;
	border-radius: 10px;
}

.categories h4{

	color: white;
	font-family: serif;
	margin-top: 100px;
	margin-left: 10px;
}

.categories button{

	width: 100px;
	height:35px;
	background-color: rgba(182,182,182,0.5);
	border-radius: 10px;
	border:none;
	color: white;
	margin-left: 10px;
	font-family: serif;
	font-size: 18px;
}

.categories:hover button{

	background-color:#F91842;
	transition: 0.5s;
}

@media(max-width: 768px){

	.categories{

	width:94%;
	height:343px;
	background-color:rgba(2,18,42,0.5);
	position: absolute;
	top: 16px;
	border-radius: 16px;
}


	
.categories h4{

	color: white;
	font-family: serif;
	margin-top: 250px;
	margin-left: 10px;
}

.categories button{

	width: 100px;
	height:35px;
	background-color: rgba(182,182,182,0.5);
	border-radius: 10px;
	border:none;
	color: white;
	margin-left: 10px;
	font-family: serif;
	font-size: 18px;
}

.categories:hover button{

	background-color:#F91842;
	transition: 0.5s;
}
}



@media(max-width: 375px){

	.categories{

	width:92%;
	height:248px;
	background-color:rgba(2,18,42,0.5);
	position: absolute;
	top: 16px;
	border-radius: 16px;
}


	
.categories h4{

	color: white;
	font-family: serif;
	margin-top: 150px;
	margin-left: 10px;
}

.categories button{

	width: 100px;
	height:35px;
	background-color: rgba(182,182,182,0.5);
	border-radius: 10px;
	border:none;
	color: white;
	margin-left: 10px;
	font-family: serif;
	font-size: 18px;
}

.categories:hover button{

	background-color:#F91842;
	transition: 0.5s;
}
}

.exp{

	font-size: 40px;
	font-family: cursive;
}

@media(max-width: 768px){


.exp{

	font-size: 30px;
	font-family: cursive;
	text-align: center;
}

}

.singal-explore{

	width: 100%;
	height: 420px;
	border-radius: 10px;
}

.thumb{

	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}

.thumb img{

	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}

.below-explore{

	width: 100%;
	height: 170px;
	border-radius: 0px 0px 10px 10px;
	border:1px solid #ccc;
}

.icons{

	width:15%;
	height: 50px;
	background-color:#00D363;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icons i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}



.icon1{

	width:15%;
	height: 50px;
	background-color:#FF5748;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icon1 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}


.icon2{

	width:15%;
	height: 50px;
	background-color:#D465EF;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icon2 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}


.icon3{

	width:15%;
	height: 50px;
	background-color:#5DB2FF;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icon3 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}


.icon4{

	width:15%;
	height: 50px;
	background-color:#FFD35A;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icon4 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}


.icon5{

	width:15%;
	height: 50px;
	background-color:#37EBED;	
	margin-left: 5%;
	border-radius: 50%;
	margin-top: 20px;
}

.icon5 i{

	color: white;
	padding-left: 20px;
	font-size: 20px;
	padding-top: 15px;
}

.explore-info{

	width:80%;
	height: 190px;
	margin-top: 20px; 
}

.explore-info h3 a{

	font-size: 25px;
	font-family: calibri;
	padding-top: 5px;
	padding-left: 10px;
	color: black;
	text-decoration: none;
}

.explore-info:hover h3 a{

	color:red;
}

.explore-info p{

	font-size: 15px;
	color: gray;
}


.banner1{


		background-image: url("../img/banner/sprayed_bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		height:550px;
		width: 100%;
		margin-top: 120px;
}

.filter1{

		width: 100%;
		height: 550px;
		background-color:rgba(0,0,66,0.5);

	}

.sp{

	font-size: 40px;
	font-family: cursive;
	padding-top: 200px;
}

@media(max-width: 768px){


	.sp{

	font-size: 25px;
	font-family: cursive;
	padding-top: 200px;
}	

}	

.add{
	width: 230px;
	height: 45px;
	background-color:#F91842;
	margin-left: 450px;
	font-size: 22px;
	border:none;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	font-family: serif;
}

@media(max-width: 768px){

	.add{
	width: 230px;
	height: 45px;
	background-color:#F91842;
	margin-left:100px;
	font-size: 22px;
	border:none;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	font-family: serif;
}
}

@media(max-width:375px){

	.add{
	width: 230px;
	height: 45px;
	background-color:#F91842;
	margin-left:40px;
	font-size: 22px;
	border:none;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	font-family: serif;
}
}

.what{

	font-family: cursive;
	font-size: 40px;
}

.chev:hover{

		background-color: red;
}

.icon{

	width: 200px;
	height: 200px;
	background-color: blue;
}

/*close section cording*/

/*start footer cording*/

#i-icon{

	color:white;
	background-color:#667fff;
	padding: 15px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#i-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#c-icon{

	color:white;
	background-color:#ff5748;
	padding: 13px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#c-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#o-icon{

	color:white;
	background-color:#37ebed;
	padding: 14px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#o-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


#n-icon{

	color:white;
	background-color:#c40079;
	padding: 13px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10px;
}

#n-icon:hover{

	background-color:#F91842;
	transition: 0.5s;
}


.service{

	margin-top: 150px;
}


@media(max-width: 768px){

	.service{

	margin-top: 50px;
}

}

.service p{

	color:gray;
}

.service p:hover{

	color:white;
}


.service1{

	margin-top: 150px;
}

@media(max-width: 768px){

	.service1{

	margin-top: 50px;
}

}
.service1 p{

	color:gray;
}

.service1 p:hover{

	color:white;
}

.mail{

	width: 100%;
	height: 55px;
	border:1px solid gray;
	margin-top: 48px;
	border-radius: 8px;
}



.mail input{

	background-color: transparent;
	border:none;
	outline: none;
	padding-top:2px;
	padding-left: 10px;
}

.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:60px;
	margin-top: 6px;	
}

@media(max-width: 768px){

	.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:130px;
	margin-top: 6px;	
}
}

@media(max-width: 375px){

	.mail button{

	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	margin-left:5px;
	margin-top: 6px;	
}
}

/*close footer cording*/